@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  /* use Propo for better icon alignment */
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: shade(alpha(@background, 0.8), 1);
  color: @foreground;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @color3;
}

#workspaces button {
  padding: 5px 10px;
  color: @color5;
  margin-right: 0px;
  border-radius: 14px;
}

#workspaces button.active {
  background: @color8;
}

/*#workspaces button.focused {*/
  /*color: @background;*/
  /*background: @color5;*/
  /*border-radius: 15px;*/
/*}*/

#workspaces button.urgent {
  color: @background;
  background: @color6;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @color2;
  color: @color5;
  border-radius: 20px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#cpu,
#memory,
#tray,
#backlight,
#mpris,
#custom-launch_wofi {
  background: @background;
  padding: 0px 10px;
  margin: 5px 0px;
  border: 1px solid @color3;
}

#cpu {
  border-radius: 15px 0px 0px 15px;
  margin-left: 5px;
  border-right: none;
  border-left: 0px;
}

#memory {
  border-left: none;
  border-right: none;
}

#temperature {
  border-radius: 0px 15px 15px 0px;
  margin-right: 5px;
  border-left: none;
  border-right: 0px;
}

#temperature.critical {
  color: @color2;
}

#backlight {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

#tray {
  border-radius: 15px;
  margin-right: 5px;
  border-left: none;
  border-right: none;
}

#workspaces {
  background: @background;
  border-radius: 15px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

#custom-power_profile {
  color: @color4;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

#clock {
  color: @color6;
  border-radius: 15px;
  padding: 0 10px;
  border-right: 0px;
  border-left: 0px;
}

#network {
  color: @color6;
  border-radius: 0px 15px 15px 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 15px;
}

#bluetooth {
  color: @color6;
  /*border-radius: 0px 15px 15px 0px;*/
  border-left: 0px;
  border-right: none;
}

#pulseaudio {
  color: @color6;
  border-left: 0px;
  border-right: 0px;
  border-radius: 15px 0px 0px 15px;
}

#pulseaudio.microphone {
  color: @color4;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
}

#battery {
  color: @color4;
  border-radius: 15px;
  margin-right: 10px;
  padding: 0 15px;
  border-left: 0px;
}

#mpris {
  color: @color4;
  border-radius: 15px;
  margin-right: 5px;
  padding: 0 15px;
  border-right: 0px;
}

#custom-launch_wofi {
  border-radius: 15px;
  color: @color6;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 15px;
  border-right: 0px;
}
