/* import waybar colors from pywal */
/* e.g.:
 * @import "/home/user01/.cache/wal/colors-waybar.css";
 */

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    border-radius: 12px;
}

window {
    margin: 0px;
    padding: 8px;
    border: 1px solid @color3;
    background: shade(alpha(@background, 0.6), 1);
    border-radius: 16px;
}

#input {
    margin: 4px 8px;
    padding: 8px;
    border: 1px solid @color3;
    color: @foreground;
    background-color: shade(alpha(@color8, 0.4), 1);
    border-radius: 12px;
}

#inner-box {
    margin: 4px;
    padding: 8px;
    background-color: transparent;
}

#outer-box {
    margin: 4px;
    padding: 8px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    padding: 8px;
    background-color: transparent;
}

#entry {
    padding: 6px 8px;
    background-color: transparent;
    border-radius: 8px;
}

#entry:selected {
    background-color: shade(alpha(@color8, 0.7), 1);
    border: 1px solid @color5;
}

#text {
    color: @color7;
    margin: 2px;
}

#entry:selected #text {
    color: @color7;
    font-weight: bold;
}

#input image {
    color: @accent;
}

#input * {
    outline: 2px solid @accent !important;
    border-radius: 8px;
}
